			<div role="main" class="main">
				<div id="content" class="content full">

			<div class="slider-container" style="overflow: visible;">
						<div class="slider revslider-initialised tp-simpleresponsive hovered" id="revolutionSlider" style="max-height: 500px; height: 500px;">
							<ul style="display: block; overflow: hidden; width: 100%; height: 100%; max-height: 500px;">
								<li data-transition="fade" data-slotamount="13" data-masterspeed="300" style="width: 100%; height: 100%; overflow: hidden; opacity: 1; visibility: visible; left: 0px; top: 0px; z-index: 18;">

									<div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="left top" data-kenburns="undefined" data-easeme="undefined" data-bgfit="cover" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" data-lazydone="undefined" data-src="img/slides/slide-bg.jpg" style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;img/slides/slide-bg.jpg&quot;); background-size: cover; background-position: left top; width: 100%; height: 100%; position: relative; opacity: 0;"></div></div>

									<div class="tp-caption sft stb visible-lg start" data-x="72" data-y="180" data-speed="300" data-start="1000" data-easing="easeOutExpo" style="visibility: visible; opacity: 0; top: 180px; left: 268px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 50, 0, 1);"><img src="img/slides/slide-title-border.png" alt="" style="width: 37px; height: 10px;"></div>

									<div class="tp-caption top-label lfl stl start" data-x="122" data-y="180" data-speed="300" data-start="500" data-easing="easeOutExpo" style="min-height: 0px; min-width: 0px; white-space: nowrap; line-height: 24px; border-width: 0px; margin: 0px; padding: 0px; font-size: 24px; visibility: visible; opacity: 0; top: 180px; left: 318px; transition: all 0s ease 0s; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, -50, 0, 0, 1);">DO YOU NEED A NEW</div>

									<div class="tp-caption sft stb visible-lg start" data-x="372" data-y="180" data-speed="300" data-start="1000" data-easing="easeOutExpo" style="visibility: visible; opacity: 0; top: 180px; left: 568px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 50, 0, 1);"><img src="img/slides/slide-title-border.png" alt="" style="width: 37px; height: 10px;"></div>

									<div class="tp-caption main-label sft stb start" data-x="30" data-y="210" data-speed="300" data-start="1500" data-easing="easeOutExpo" style="min-height: 0px; min-width: 0px; white-space: nowrap; line-height: 62px; border-width: 0px; margin: 0px; padding: 0px; font-size: 62px; visibility: visible; opacity: 0; top: 210px; left: 226px; transition: all 0s ease 0s; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 50, 0, 1);">WEB DESIGN?</div>

									<div class="tp-caption bottom-label sft stb start" data-x="80" data-y="280" data-speed="500" data-start="2000" data-easing="easeOutExpo" style="min-height: 0px; min-width: 0px; white-space: nowrap; line-height: 24px; border-width: 0px; margin: 0px; padding: 0px; font-size: 20px; visibility: visible; opacity: 0; top: 280px; left: 276px; transition: all 0s ease 0s; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 50, 0, 1);">Check out our options and features.</div>

									<div class="tp-caption randomrotate start" data-x="800" data-y="248" data-speed="500" data-start="2500" data-easing="easeOutBack" style="visibility: visible; opacity: 0; top: 291px; left: 940px; transform: matrix3d(-0.17881, 2.55716, 0, 0, -2.55716, -0.17881, 0, 0, 0, 0, 2.5634, -0.00427, 0, 0, 0, 1);"><img src="img/slides/slide-concept-2-1.png" alt="" style="width: 122px; height: 93px;"></div>

									<div class="tp-caption sfb start" data-x="850" data-y="200" data-speed="400" data-start="3000" data-easing="easeOutBack" style="visibility: visible; opacity: 0; top: 250px; left: 1046px; transform: none;"><img src="img/slides/slide-concept-2-2.png" alt="" style="width: 19px; height: 23px;"></div>

									<div class="tp-caption sfb start" data-x="820" data-y="170" data-speed="700" data-start="3150" data-easing="easeOutBack" style="visibility: visible; opacity: 0; top: 220px; left: 1016px; transform: none;"><img src="img/slides/slide-concept-2-3.png" alt="" style="width: 31px; height: 33px;"></div>

									<div class="tp-caption sfb start" data-x="770" data-y="130" data-speed="1000" data-start="3250" data-easing="easeOutBack" style="visibility: visible; opacity: 0; top: 180px; left: 966px; transform: none;"><img src="img/slides/slide-concept-2-4.png" alt="" style="width: 50px; height: 56px;"></div>

									<div class="tp-caption sfb start" data-x="500" data-y="80" data-speed="600" data-start="3450" data-easing="easeOutExpo" style="visibility: visible; opacity: 0; top: 130px; left: 696px; transform: none;"><img src="img/slides/slide-concept-2-5.png" alt="" style="width: 260px; height: 170px;"></div>

									<div class="tp-caption blackboard-text lfb  start" data-x="530" data-y="300" data-speed="500" data-start="3450" data-easing="easeOutExpo" style="font-size: 37px; min-height: 0px; min-width: 0px; white-space: nowrap; line-height: 46px; border-width: 0px; margin: 0px; padding: 0px; visibility: visible; opacity: 0; top: 525px; left: 726px; transition: all 0s ease 0s; transform: none;">Think</div>

									<div class="tp-caption blackboard-text lfb  start" data-x="555" data-y="350" data-speed="500" data-start="3650" data-easing="easeOutExpo" style="font-size: 47px; min-height: 0px; min-width: 0px; white-space: nowrap; line-height: 46px; border-width: 0px; margin: 0px; padding: 0px; visibility: visible; opacity: 0; top: 525px; left: 751px; transition: all 0s ease 0s; transform: none;">Outside</div>

									<div class="tp-caption blackboard-text lfb  start" data-x="580" data-y="400" data-speed="500" data-start="3850" data-easing="easeOutExpo" style="font-size: 32px; min-height: 0px; min-width: 0px; white-space: nowrap; line-height: 46px; border-width: 0px; margin: 0px; padding: 0px; visibility: visible; opacity: 0; top: 525px; left: 776px; transition: all 0s ease 0s; transform: none;">The box :)</div>
											</li>
											<li data-transition="fade" data-slotamount="5" data-masterspeed="1000" style="width: 100%; height: 100%; overflow: hidden; visibility: visible; left: 0px; top: 0px; z-index: 20; opacity: 1;">

												<div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="left top" data-kenburns="undefined" data-easeme="undefined" data-bgfit="cover" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" data-lazydone="undefined" data-src="img/slides/slide-bg.jpg" style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;img/slides/slide-bg.jpg&quot;); background-size: cover; background-position: left top; width: 100%; height: 100%; position: relative; opacity: 1;"></div></div>

													<div class="tp-caption fade start" data-x="50" data-y="100" data-speed="1500" data-start="500" data-easing="easeOutExpo" style="visibility: visible; opacity: 1; top: 100px; left: 246px; transform: none;"><img src="img/slides/slide-concept.png" alt="" style="width: 415px; height: 227px;"></div>

													<div class="tp-caption blackboard-text fade  start" data-x="180" data-y="180" data-speed="1500" data-start="1000" data-easing="easeOutExpo" style="font-size: 30px; min-height: 0px; min-width: 0px; white-space: nowrap; line-height: 46px; border-width: 0px; margin: 0px; padding: 0px; visibility: visible; opacity: 1; top: 180px; left: 376px; transition: opacity 0.15s linear 0s; transform: none;">easy to</div>

													<div class="tp-caption blackboard-text fade  start" data-x="180" data-y="220" data-speed="1500" data-start="1200" data-easing="easeOutExpo" style="font-size: 40px; min-height: 0px; min-width: 0px; white-space: nowrap; line-height: 46px; border-width: 0px; margin: 0px; padding: 0px; visibility: visible; opacity: 1; top: 220px; left: 376px; transition: opacity 0.15s linear 0s; transform: none;">customize!</div>

													<div class="tp-caption main-label sft stb start" data-x="580" data-y="190" data-speed="300" data-start="1500" data-easing="easeOutExpo" style="min-height: 0px; min-width: 0px; white-space: nowrap; line-height: 62px; border-width: 0px; margin: 0px; padding: 0px; font-size: 62px; visibility: visible; opacity: 1; top: 190px; left: 776px; transition: all 0s ease 0s; transform: none;">DESIGN IT!</div>

													<div class="tp-caption bottom-label sft stb start" data-x="580" data-y="250" data-speed="500" data-start="2000" data-easing="easeOutExpo" style="min-height: 0px; min-width: 0px; white-space: nowrap; line-height: 24px; border-width: 0px; margin: 0px; padding: 0px; font-size: 20px; visibility: visible; opacity: 1; top: 250px; left: 776px; transition: all 0s ease 0s; transform: none;">Create slides with brushes and fonts.</div>



											</li>
										</ul>
									<div class="tp-loader" style="display: none;"></div><div class="tp-bannertimer" style="visibility: hidden; overflow: hidden; width: 36.0449%;"></div></div>
								<div class="tp-bannershadow tp-shadow1" style="width: 1351px; left: 0px;"></div><div class="tp-bullets simplebullets round" style="bottom: 20px; left: 50%; margin-left: -25px;"><div class="bullet first"></div><div class="bullet last selected"></div><div class="tpclear"></div></div><div style="position: absolute; margin-top: -20px; left: 20px; top: 250px;" class="tp-leftarrow tparrows default"></div><div style="position: absolute; margin-top: -20px; right: 20px; top: 250px;" class="tp-rightarrow tparrows default">
									
								</div></div>

					<div class="home-intro">
						<div class="container">

							<div class="row">
								<div class="col-md-8">
									<p>
										The fastest way to grow your business with the leader in <em>Technology.</em>
										<span>Check out our options and features included.</span>
									</p>
								</div>
								<div class="col-md-4">
									<div class="get-started">
										<a href="#" class="btn btn-lg btn-primary">Get Started Now!</a>
										<div class="learn-more">or <a href="index.html">learn more.</a></div>
									</div>
								</div>
							</div>

						</div>
					</div>

					<div class="container">

						<div class="row center">
							<div class="col-md-12">
								<h2 class="short word-rotator-title">
									Porto is
									<strong class="inverted">
										<span class="word-rotate">
											<span class="word-rotate-items">
												<span>incredibly</span>
												<span>especially</span>
												<span>extremely</span>
											</span>
										</span>
									</strong>
									beautiful and fully responsive.
								</h2>
								<p class="featured lead">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante nulla hendrerit arcu, ac tincidunt mauris lacus sed leo. vamus suscipit molestie vestibulum.
								</p>
							</div>
						</div>

					</div>

					<div class="home-concept">
						<div class="container">

							<div class="row center">
								<span class="sun"></span>
								<span class="cloud"></span>
								<div class="col-md-2 col-md-offset-1">
									<div class="process-image" data-appear-animation="bounceIn">
										
										<%= image_tag("img/home-concept-item-1.png") %>
										<strong>Strategy</strong>
									</div>
								</div>
								<div class="col-md-2">
									<div class="process-image" data-appear-animation="bounceIn" data-appear-animation-delay="200">
										<%= image_tag("img/home-concept-item-2.png") %>
										
										<strong>Planning</strong>
									</div>
								</div>
								<div class="col-md-2">
									<div class="process-image" data-appear-animation="bounceIn" data-appear-animation-delay="400">
										<%= image_tag("img/home-concept-item-3.png") %>
										 
										<strong>Build</strong>
									</div>
								</div>
								<div class="col-md-4 col-md-offset-1">
									<div class="project-image">
										<div id="fcSlideshow" class="fc-slideshow">
											<ul class="fc-slides">
												<li><a href="portfolio-single-project.html"><img class="img-responsive" src="img/projects/project-home-1.jpg" /></a></li>
												<li><a href="portfolio-single-project.html"><img class="img-responsive" src="img/projects/project-home-2.jpg" /></a></li>
												<li><a href="portfolio-single-project.html"><img class="img-responsive" src="img/projects/project-home-3.jpg" /></a></li>
											</ul>
										</div>
										<strong class="our-work">Our Work</strong>
									</div>
								</div>
							</div>

						</div>
					</div>

					<div class="container">

						<div class="row">
							<hr class="tall" />
						</div>

					</div>

					<div class="container">

						<div class="row">
							<div class="col-md-8">
								<h2>Our <strong>Features</strong></h2>
								<div class="row">
									<div class="col-md-6">
										<div class="feature-box">
											<div class="feature-box-icon">
												<i class="icon icon-group"></i>
											</div>
											<div class="feature-box-info">
												<h4 class="shorter">Customer Support</h4>
												<p class="tall">Lorem ipsum dolor sit amet, consectetur adip.</p>
											</div>
										</div>
										<div class="feature-box">
											<div class="feature-box-icon">
												<i class="icon icon-file"></i>
											</div>
											<div class="feature-box-info">
												<h4 class="shorter">HTML5 / CSS3 / JS</h4>
												<p class="tall">Lorem ipsum dolor sit amet, adip.</p>
											</div>
										</div>
										<div class="feature-box">
											<div class="feature-box-icon">
												<i class="icon icon-google-plus"></i>
											</div>
											<div class="feature-box-info">
												<h4 class="shorter">500+ Google Fonts</h4>
												<p class="tall">Lorem ipsum dolor sit amet, consectetur adip.</p>
											</div>
										</div>
										<div class="feature-box">
											<div class="feature-box-icon">
												<i class="icon icon-adjust"></i>
											</div>
											<div class="feature-box-info">
												<h4 class="shorter">Colors</h4>
												<p class="tall">Lorem ipsum dolor sit amet, consectetur adip.</p>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="feature-box">
											<div class="feature-box-icon">
												<i class="icon icon-film"></i>
											</div>
											<div class="feature-box-info">
												<h4 class="shorter">Sliders</h4>
												<p class="tall">Lorem ipsum dolor sit amet, consectetur.</p>
											</div>
										</div>
										<div class="feature-box">
											<div class="feature-box-icon">
												<i class="image-icon small user"></i>
											</div>
											<div class="feature-box-info">
												<h4 class="shorter">Icons</h4>
												<p class="tall">Lorem ipsum dolor sit amet, consectetur adip.</p>
											</div>
										</div>
										<div class="feature-box">
											<div class="feature-box-icon">
												<i class="icon icon-bars"></i>
											</div>
											<div class="feature-box-info">
												<h4 class="shorter">Buttons</h4>
												<p class="tall">Lorem ipsum dolor sit, consectetur adip.</p>
											</div>
										</div>
										<div class="feature-box">
											<div class="feature-box-icon">
												<i class="icon icon-desktop"></i>
											</div>
											<div class="feature-box-info">
												<h4 class="shorter">Lightbox</h4>
												<p class="tall">Lorem sit amet, consectetur adip.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<h2>and more...</h2>

								<div class="panel-group" id="accordion">
									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
													<i class="icon icon-usd"></i>
													Pricing Tables
												</a>
											</h4>
										</div>
										<div id="collapseOne" class="accordion-body collapse in">
											<div class="panel-body">
												Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor.
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
													<i class="icon icon-comment"></i>
													Contact Forms
												</a>
											</h4>
										</div>
										<div id="collapseTwo" class="accordion-body collapse">
											<div class="panel-body">
												Donec tellus massa, tristique sit amet condimentum vel, facilisis quis sapien.
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
													<i class="icon icon-laptop"></i>
													Portfolio Pages
												</a>
											</h4>
										</div>
										<div id="collapseThree" class="accordion-body collapse">
											<div class="panel-body">
												Donec tellus massa, tristique sit amet condimentum vel, facilisis quis sapien.
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<hr class="tall" />

						<div class="row center">
							<div class="col-md-12">
								<h2 class="short word-rotator-title">
									We're not the only ones
									<strong>
										<span class="word-rotate">
											<span class="word-rotate-items">
												<span>excited</span>
												<span>happy</span>
											</span>
										</span>
									</strong>
									about Porto Template...
								</h2>
								<h4 class="lead tall">5,500 customers in 100 countries use Porto Template. Meet our customers.</h4>
							</div>
						</div>
						<div class="row center">
							<div class="owl-carousel" data-plugin-options='{"items": 6, "singleItem": false, "autoPlay": true}'>
								<div>
									<%= image_tag("img/logos/logo-1.png", :class=>"img-responsive") %>
									 
								</div>
								<div>

									<%= image_tag("img/logos/logo-2.png", :class=>"img-responsive") %>
								</div>
								<div>
									<%= image_tag("img/logos/logo-3.png", :class=>"img-responsive") %>
								</div>
								<div>
									<%= image_tag("img/logos/logo-4.png", :class=>"img-responsive") %>
								</div>
								<div>
									<%= image_tag("img/logos/logo-5.png", :class=>"img-responsive") %>
								</div>
								<div>
									<%= image_tag("img/logos/logo-6.png", :class=>"img-responsive") %>
								</div>
								<div>
									<%= image_tag("img/logos/logo-4.png", :class=>"img-responsive") %>
								</div>
								<div>
									<%= image_tag("img/logos/logo-2.png", :class=>"img-responsive") %>
								</div>
							</div>
						</div>

					</div>

					<div class="map-section">
						<section class="featured footer map">
							<div class="container">
								<div class="row">
									<div class="col-md-6">
										<div class="recent-posts push-bottom">
											<h2>Latest <strong>Blog</strong> Posts</h2>
											<div class="row">
												<div class="owl-carousel" data-plugin-options='{"items": 1, "autoHeight": true}'>
													<div>
														<div class="col-md-6">
															<article>
																<div class="date">
																	<span class="day">15</span>
																	<span class="month">Jan</span>
																</div>
																<h4><a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h4>
																<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero. <a href="/" class="read-more">read more <i class="icon icon-angle-right"></i></a></p>
															</article>
														</div>
														<div class="col-md-6">
															<article>
																<div class="date">
																	<span class="day">15</span>
																	<span class="month">Jan</span>
																</div>
																<h4><a href="blog-post.html">Lorem ipsum dolor</a></h4>
																<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. <a href="/" class="read-more">read more <i class="icon icon-angle-right"></i></a></p>
															</article>
														</div>
													</div>
													<div>
														<div class="col-md-6">
															<article>
																<div class="date">
																	<span class="day">12</span>
																	<span class="month">Jan</span>
																</div>
																<h4><a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h4>
																<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero. <a href="/" class="read-more">read more <i class="icon icon-angle-right"></i></a></p>
															</article>
														</div>
														<div class="col-md-6">
															<article>
																<div class="date">
																	<span class="day">11</span>
																	<span class="month">Jan</span>
																</div>
																<h4><a href="blog-post.html">Lorem ipsum dolor</a></h4>
																<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="/" class="read-more">read more <i class="icon icon-angle-right"></i></a></p>
															</article>
														</div>
													</div>
													<div>
														<div class="col-md-6">
															<article>
																<div class="date">
																	<span class="day">15</span>
																	<span class="month">Jan</span>
																</div>
																<h4><a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h4>
																<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero. <a href="/" class="read-more">read more <i class="icon icon-angle-right"></i></a></p>
															</article>
														</div>
														<div class="col-md-6">
															<article>
																<div class="date">
																	<span class="day">15</span>
																	<span class="month">Jan</span>
																</div>
																<h4><a href="blog-post.html">Lorem ipsum dolor</a></h4>
																<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. <a href="/" class="read-more">read more <i class="icon icon-angle-right"></i></a></p>
															</article>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<h2><strong>What</strong> Client’s Say</h2>
										<div class="row">
											<div class="owl-carousel push-bottom" data-plugin-options='{"items": 1, "autoHeight": true}'>
												<div>
													<div class="col-md-12">
														<blockquote class="testimonial">
														<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat.  Donec hendrerit vehicula est, in consequat.  Donec hendrerit vehicula est, in consequat.</p>
														</blockquote>
														<div class="testimonial-arrow-down"></div>
														<div class="testimonial-author">
															<div class="img-thumbnail img-thumbnail-small">
																<img src="img/clients/client-1.jpg" alt="">
															</div>
															<p><strong>John Smith</strong><span>CEO & Founder - Okler</span></p>
														</div>
													</div>
												</div>
												<div>
													<div class="col-md-12">
														<blockquote class="testimonial">
														<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
														</blockquote>
														<div class="testimonial-arrow-down"></div>
														<div class="testimonial-author">
															<div class="img-thumbnail img-thumbnail-small">
																<img src="img/clients/client-1.jpg" alt="">
															</div>
															<p><strong>John Smith</strong><span>CEO & Founder - Okler</span></p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		
		<%= javascript_pack_tag 'vendor/jquery'%>
		<%= javascript_pack_tag 'js/plugins'%>
		<%= javascript_pack_tag 'vendor/jquery' %>
		<%= javascript_pack_tag 'vendor/jquery' %>
		<%= javascript_pack_tag 'vendor/jquery'%>
		<%= javascript_pack_tag 'vendor/bootstrap' %>
		<%= javascript_pack_tag 'vendor/twitterjs/twitter' %>
		<%= javascript_pack_tag 'vendor/rs-plugin/js/jquery' %>
		<%= javascript_pack_tag 'vendor/rs-plugin/js/jquery'%>
		<%= javascript_pack_tag 'vendor/owl-carousel/owl'%>
		<%= javascript_pack_tag 'vendor/circle-flip-slideshow/js/jquery'%>
		
		<%= javascript_pack_tag 'vendor/jquery'%>
		
		 

		<!-- Current Page Scripts -->

		<%= javascript_pack_tag 'js/views/view' %>
		 

		<!-- Theme Initializer -->
		<%= javascript_pack_tag 'js/theme' %>
	 

		<!-- Custom JS -->
		<%= javascript_pack_tag 'js/custom' %> 
