<!-- Basic -->
		<meta charset="utf-8">
		<title>BLOG</title>
		<meta name="keywords" content="HTML5 Template" />
		<meta name="description" content="Porto - Responsive HTML5 Template - 2.7.0">
		<meta name="author" content="okler.net">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Libs CSS -->

		<%= stylesheet_link_tag 'css/bootstrap.css', media: 'screen', 'data-turbolinks-track': 'reload' %>
		<%= stylesheet_link_tag 'css/fonts/font-awesome/css/font-awesome.css', media: 'screen', 'data-turbolinks-track': 'reload' %>
		<%= stylesheet_link_tag 'vendor/owl-carousel/owl.carousel.css', media: 'screen', 'data-turbolinks-track': 'reload' %>
		<%= stylesheet_link_tag 'vendor/owl-carousel/owl.theme.css', media: 'screen', 'data-turbolinks-track': 'reload' %>
		<%= stylesheet_link_tag 'vendor/magnific-popup/magnific-popup.css', media: 'screen', 'data-turbolinks-track': 'reload' %>
		 
		 

		<!-- Theme CSS -->
		<%= stylesheet_link_tag 'css/theme.css', media: 'screen', 'data-turbolinks-track': 'reload' %>
		<%= stylesheet_link_tag 'css/theme-elements.css', media: 'screen', 'data-turbolinks-track': 'reload' %>
		<%= stylesheet_link_tag 'css/theme-animate.css', media: 'screen', 'data-turbolinks-track': 'reload' %>
		

		<!-- Current Page Styles -->
		<%= stylesheet_link_tag 'vendor/rs-plugin/css/settings.css', media: 'screen', 'data-turbolinks-track': 'reload' %>
		<%= stylesheet_link_tag 'vendor/circle-flip-slideshow/css/component.css', media: 'screen', 'data-turbolinks-track': 'reload' %>
		

		<!-- Skin CSS -->
		<%= stylesheet_link_tag 'css/skins/blue.css', media: 'screen', 'data-turbolinks-track': 'reload' %>
		 

		<!-- Custom CSS -->
		<%= stylesheet_link_tag 'css/custom.css', media: 'screen', 'data-turbolinks-track': 'reload' %>
	 

		<!-- Responsive CSS -->
		<%= stylesheet_link_tag 'css/theme-responsive.css', media: 'screen', 'data-turbolinks-track': 'reload' %>
		 

		<!-- Head Libs -->
		<%= javascript_pack_tag 'vendor/modernizr.js', media: 'screen', 'data-turbolinks-track': 'reload' %>
		
